storage/schemas/XSD-Validaciones-PFI/pfi-xsd/data/standard/SPSImportPermit_1p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- ===== SPSImportPermit Schema Module                              ===== -->
<!-- ====================================================================== -->
<!--
Schema agency:  UNCEFACT
Schema version: 17.0
Schema date:    18MAR17

Scheme developer agency: INTERCOM
Schema version: 1.0
Schema date:    23/05/2023

Copyright (C) UN/CEFACT (AR17). All Rights Reserved.

Copyright (C) INTERCOM (2023). All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works
that comment on or otherwise explain it or assist in its implementation may be prepared, copied,
published and distributed, in whole or in part, without restriction of any kind, provided that the
above copyright notice and this paragraph are included on all such copies and derivative works.
However, this document itself may not be modified in any way, such as by removing the copyright
notice or references to UN/CEFACT, except as needed for the purpose of developing UN/CEFACT
specifications, in which case the procedures for copyrights defined in the UN/CEFACT Intellectual
Property Rights document must be followed, or as required to translate it into languages other than
English.
The limited permissions granted above are perpetual and will not be revoked by UN/CEFACT or its
successors or assigns.
This document and the information contained herein is provided on an "AS IS" basis and UN/CEFACT
DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE
OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY
OR FITNESS FOR A PARTICULAR PURPOSE.
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:rsm="urn:sgcan:intercom:data:standard:SPSImportPermit:1"
  xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2"
  xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:21"
  xmlns:qdt="urn:un:unece:uncefact:data:Standard:QualifiedDataType:21"
  xmlns:ram="urn:sgcan:intercom:data:standard:INTERCOMSPSImportPermitReusableAggregateBusinessInformationEntity:1"
  xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
  xmlns:vld="urn:sgcan:intercom:data:standard:Validations:1"
  targetNamespace="urn:sgcan:intercom:data:standard:SPSImportPermit:1"
  elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

  <!-- ======================================================================= -->
  <!-- ===== Imports                                                     ===== -->
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ===== Import of Unqualified Data Type Schema Module               ===== -->
  <!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:21"
    schemaLocation="../../data/standard/UnqualifiedDataType_21p0.xsd" />
  <!-- ======================================================================= -->
  <!-- ===== Import of Qualified Data Type Schema Module                 ===== -->
  <!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:Standard:QualifiedDataType:21"
    schemaLocation="../../data/standard/QualifiedDataType_21p0.xsd" />
  <!-- ================================================================================== -->
  <!-- ===== Import of Reusable Aggregate Business Information Entity Schema Module ===== -->
  <!-- ================================================================================== -->
  <xsd:import
    namespace="urn:sgcan:intercom:data:standard:INTERCOMSPSImportPermitReusableAggregateBusinessInformationEntity:1"
    schemaLocation="../../data/standard/INTERCOMSPSImportPermitReusableAggregateBusinessInformationEntity_21p0.xsd" />
  <!-- ================================= -->
  <!-- ===== Import of Validations ===== -->
  <!-- ================================= -->
  <xsd:import namespace="urn:sgcan:intercom:data:standard:Validations:1"
    schemaLocation="../standard/Validations_1p0.xsd" />
  <!-- ================================= -->
  <!-- ===== Import of Signature ======= -->
  <!-- ================================= -->
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#"
    schemaLocation="xmldsig-core-schema.xsd" />


  <!-- ======================================================================= -->
  <!-- ===== Element Declarations                                        ===== -->
  <!-- ======================================================================= -->
  <!-- ===== Root Element Declarations                                   ===== -->
  <!-- ======================================================================= -->
  <xsd:element name="SPSImportPermit" type="rsm:SPSImportPermitType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:Name>SPSImportPermit</ccts:Name>
        <ccts:Version>1.0</ccts:Version>
        <ccts:BusinessProcessContextValue>Sanitary
        and Phytosanitary Import Permit</ccts:BusinessProcessContextValue>
        <ccts:GeopoliticalOrRegionContextValue>In
        All Contexts</ccts:GeopoliticalOrRegionContextValue>
        <ccts:OfficialConstraintContextValue>Cross-Border
        Trade</ccts:OfficialConstraintContextValue>
        <ccts:ProductContextValue>Regulated Biologically
        Sourced Goods</ccts:ProductContextValue>
        <ccts:IndustryContextValue>In All Contexts</ccts:IndustryContextValue>
        <ccts:BusinessProcessRoleContextValue>In
        All Contexts</ccts:BusinessProcessRoleContextValue>
        <ccts:SupportingRoleContextValue>In All
        Contexts</ccts:SupportingRoleContextValue>
        <ccts:SystemCapabilitiesContextValue>In All
        Contexts</ccts:SystemCapabilitiesContextValue>
      </xsd:documentation>
      <xsd:appinfo>
      <vld:ruleset path="SPSImportPermit/SPSExchangedDocument/IncludedSPSNote">
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="SPSFL" childType="integer" childTotalDigits="2"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADEDL" childType="string" childMaxLength="8000"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADIPEDL" childType="string" childMaxLength="256"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADDIEDL" childType="dateTime"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADAOEDL" childType="string" childMaxLength="8000"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADRP" childType="integer" childTotalDigits="2"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADRPN" childType="string" childMaxLength="60"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADRD" childType="dateTime"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADRPR" childType="string" childMaxLength="512"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="DMCL" childType="string" childMaxLength="512"/>
      </vld:ruleset>
      <vld:ruleset path="SPSImportPermit/SPSConsignment/IncludedSPSConsignmentItem/IncludedSPSTradeLineItem/AdditionalInformationSPSNote">
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADTLIL" childType="string" childMaxLength="8000"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADIPTLIL" childType="string" childMaxLength="256"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADDITLIL" childType="dateTime"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADAOTLIL" childType="string" childMaxLength="8000"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="DMTLIL" childType="string" childMaxLength="1024"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCST" childType="integer" childTotalDigits="2"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCCO" childType="integer" childTotalDigits="2"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCRF" childType="string" childMaxLength="60"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCOR" childType="boolean"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCTC" childType="boolean"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCPK" childType="boolean"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCRP" childType="boolean"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCOC" childType="boolean"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCNC" childType="boolean"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCPC" childType="boolean"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCAI" childType="boolean"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="OQU" childType="string" childMaxLength="50"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="OQV" childType="decimal" childTotalDigits="20" childFractionDigits="4"/>
        <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="OPTND" childType="string" childMaxLength="512"/>
      </vld:ruleset>ApplicableSPSClassification
      <vld:ruleset path="SPSImportPermit/SPSConsignment/IncludedSPSConsignmentItem/IncludedSPSTradeLineItem/">
        <vld:rule ruleType="validation" parent="SystemName" child="ClassCode" parentValue="HS" childType="string" childMaxLength="6"/>
        <vld:rule ruleType="validation" parent="SystemName" child="ClassCode" parentValue="IPPCPCVP" childType="string" childMaxLength="70"/>
        <vld:rule ruleType="validation" parent="SystemName" child="ClassCode" parentValue="IPPCPCC" childType="string" childMaxLength="70"/>
      </vld:ruleset>
      <vld:ruleset path="SPSImportPermit/SPSConsignment/IncludedSPSConsignmentItem/IncludedSPSTradeLineItem/AppliedSPSProcess/ApplicableSPSProcessCharacteristic">
        <vld:rule ruleType="validation" parent="Description" child="Description" parentValue="TTL1" childType="string" childMaxLength="256"/>
        <vld:rule ruleType="validation" parent="Description" child="Description" parentValue="TTL2" childType="string" childMaxLength="256"/>
        <vld:rule ruleType="validation" parent="Description" child="Description"  parentValue="TTCH" childType="string" childMaxLength="3"/>
        <vld:rule ruleType="validation" parent="Description" child="Description"  parentValue="TTTM" childType="decimal" childTotalDigits="14" childFractionDigits="4"/>
        <vld:rule ruleType="validation" parent="Description" child="Description"  parentValue="TTCO" childType="decimal" childTotalDigits="14" childFractionDigits="4"/>
        <vld:rule ruleType="validation" parent="Description" child="Description"  parentValue="TTAI" childType="string" childMaxLength="400"/>
        <vld:rule ruleType="validation" parent="Description" child="Description"  parentValue="TTFT" childType="string" childMaxLength="8000"/>
      </vld:ruleset>
    </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <!-- ================================================================== -->
  <!-- ===== Type Definitions                                       ===== -->
  <!-- ================================================================== -->
  <!-- ===== Type Definition: SPSImportPermitType                   ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="SPSImportPermitType">
    <xsd:sequence>
      <xsd:element name="SPSExchangedDocument" type="ram:SPSExchangedDocumentType" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:DictionaryEntryName>SPS_ Import Permit. SPS Exchanged_ Document</ccts:DictionaryEntryName>
            <ccts:Version>
            1.0</ccts:Version>
            <ccts:Cardinality>1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Permit</ccts:ObjectClassTerm>
            <ccts:ObjectClassQualifierTerm>
            SPS</ccts:ObjectClassQualifierTerm>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>
            Document</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>SPS
            Exchanged</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Sanitary
            and Phytosanitary Measures</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In
            All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>
            None</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>In
            All Contexts</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All
            Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All
            Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All
            Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
          <xsd:appinfo>
            <vld:ruleset path="SPSImportPermit/SPSExchangedDocument/IncludedSPSNote">
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="SPSFL" childType="integer" childTotalDigits="2"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADEDL" childType="string" childMaxLength="8000"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADIPEDL" childType="string" childMaxLength="256"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADDIEDL" childType="dateTime"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADAOEDL" childType="string" childMaxLength="8000"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADRP" childType="integer" childTotalDigits="2"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADRPN" childType="string" childMaxLength="60"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADRD" childType="dateTime"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADRPR" childType="string" childMaxLength="512"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="DMCL" childType="string" childMaxLength="512"/>
            </vld:ruleset>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SPSConsignment" type="ram:SPSConsignmentType" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:DictionaryEntryName>SPS_ Import Permit. SPS_ Consignment</ccts:DictionaryEntryName>
            <ccts:Version>
            1.0</ccts:Version>
            <ccts:Cardinality>1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Permit</ccts:ObjectClassTerm>
            <ccts:ObjectClassQualifierTerm>
            SPS</ccts:ObjectClassQualifierTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>
            Consignment</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>SPS</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Sanitary
            and Phytosanitary Measures</ccts:BusinessProcessContextValue>
          </xsd:documentation>
          <xsd:appinfo>
            <vld:ruleset path="SPSImportPermit/SPSConsignment/IncludedSPSConsignmentItem/IncludedSPSTradeLineItem/AdditionalInformationSPSNote">
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADTLIL" childType="string" childMaxLength="8000"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADIPTLIL" childType="string" childMaxLength="256"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADDITLIL" childType="dateTime"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="ADAOTLIL" childType="string" childMaxLength="8000"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="DMTLIL" childType="string" childMaxLength="1024"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCST" childType="integer" childTotalDigits="2"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCCO" childType="integer" childTotalDigits="2"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCRF" childType="string" childMaxLength="60"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCOR" childType="boolean"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCTC" childType="boolean"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCPK" childType="boolean"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCRP" childType="boolean"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCOC" childType="boolean"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCNC" childType="boolean"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCPC" childType="boolean"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="RPCAI" childType="boolean"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="OQU" childType="string" childMaxLength="50"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="OQV" childType="decimal" childTotalDigits="20" childFractionDigits="4"/>
              <vld:rule ruleType="validation" parent="Subject" child="Content" parentValue="OPTND" childType="string" childMaxLength="512"/>
            </vld:ruleset>
            <vld:ruleset path="SPSImportPermit/SPSConsignment/IncludedSPSConsignmentItem/IncludedSPSTradeLineItem/ApplicableSPSClassification">
              <vld:rule ruleType="validation" parent="SystemName" child="ClassCode" parentValue="HS" childType="string" childMaxLength="6"/>
              <vld:rule ruleType="validation" parent="SystemName" child="ClassName" parentValue="IPPCPCVP" childType="string" childMaxLength="70"/>
              <vld:rule ruleType="validation" parent="SystemName" child="ClassName" parentValue="IPPCPCC" childType="string" childMaxLength="70"/>
            </vld:ruleset>
            <vld:ruleset path="SPSImportPermit/SPSConsignment/IncludedSPSConsignmentItem/IncludedSPSTradeLineItem/AppliedSPSProcess/ApplicableSPSProcessCharacteristic">
              <vld:rule ruleType="validation" parent="Description" child="Description" parentValue="TTL1" childType="string" childMaxLength="256"/>
              <vld:rule ruleType="validation" parent="Description" child="Description" parentValue="TTL2" childType="string" childMaxLength="256"/>
              <vld:rule ruleType="validation" parent="Description" child="Description"  parentValue="TTCH" childType="string" childMaxLength="3"/>
              <vld:rule ruleType="validation" parent="Description" child="Description"  parentValue="TTTM" childType="decimal" childTotalDigits="14" childFractionDigits="4"/>
              <vld:rule ruleType="validation" parent="Description" child="Description"  parentValue="TTCO" childType="decimal" childTotalDigits="14" childFractionDigits="4"/>
              <vld:rule ruleType="validation" parent="Description" child="Description"  parentValue="TTAI" childType="string" childMaxLength="400"/>
              <vld:rule ruleType="validation" parent="Description" child="Description"  parentValue="TTFT" childType="string" childMaxLength="8000"/>
            </vld:ruleset>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="ds:Signature" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>